@include desktop {
  .banner {
    height: 500px;
    img {
      height: auto;
      margin-top: 100px;
    }
    input {
      width: 190px;
    }
    button {
      width: 190px;
    }
  }
}

@include laptop {
  .banner {
    height: 500px;
    img {
      height: auto;
      margin-top: 100px;
    }

    input {
      width: 100px;
    }
    button {
      width: 120px;
    }
  }
}

@include tablet {
  .banner {
    height: 600px;
    text-align: center;
    h2 {
      font-size: $font-size-xl;
    }
    img {
      height: auto;
      margin-top: 80px;
    }
    input {
      width: 100px;
    }
    button {
      width: 120px;
    }
  }
}

@include phone {
  .banner {
    h2 {
      font-size: $font-size-md;
    }
    input {
      width: 150px;
    }
    button {
      width: 150px;
    }

    img {
      height: auto;
      margin-top: 120px;
    }
  }
}
