.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.content-center {
  align-items: center;
  justify-content: center;
}

.btn-price {
  margin-top: 40px;
  display: flex;
  a {
    color: $color-content;
    background-color: $background-color-button;
    font-size: $font-size-sm;
    padding: 10px 30px;

    &:hover {
      background-color: red;
    }
  }
}
